// Configuration Overrides for Beta Builds

HOCKEY_APP_ID = 4dae217e8eeed24ace1f87c8bae53815
COUNTLY_API_KEY = 8e619178dd31ab5263ba636344b054e454cf279e

SPARKLE_APPCAST_URL_SCHEME = https
SPARKLE_APPCAST_URL_HOST = rink.hockeyapp.net
SPARKLE_APPCAST_URL_PATH = api/2/apps/$(HOCKEY_APP_ID)

REVEAL_PRODUCT_BUNDLE_IDENTIFIER_INFIX = beta.

REVEALAPP_ICON_FILE = RevealBeta
